[submodule "zig-wasm/webp/vendor/libwebp"]
	path = zig-wasm/webp/vendor/libwebp
	url = https://github.com/webmproject/libwebp.git
	shallow = true
[submodule "zig-wasm/jpeg/vendor/mozjpeg"]
	path = zig-wasm/jpeg/vendor/mozjpeg
	url = https://github.com/mozilla/mozjpeg.git
	shallow = true
