node_modules
dist
.wrangler
.astro

bun.lock
package-lock.json

rust-wasm/target
rust-wasm/pkg
src/wasm/rust
src/wasm/rust-image-converter.js
src/wasm/zig
zig-wasm/webp/vendor
zig-wasm/jpeg/vendor

public
